/* 
Figma Community Forum
Category boxes & other related ephemera
*/

/* Adds a border above the category box from the navigation container */

.categories-list {
  .navigation-container {
    border-bottom: 0;
  }
}

.navigation-categories {
  .navigation-container {
    border-bottom: 3px solid var(--surface-low-contrast);
  }
  .list-container {
    padding-top: 32px;
  }
}

.category-title-contents {
  padding: 87px 0;
  .d-icon-lock {
    display: none;
  }
}

.groups-boxes {
  display: grid;
  gap: 18px;
  grid-auto-flow: row;
  grid-template-columns: 1fr 1fr;
  .group-box {
    background-color: var(--surface-low-contrast);
    border: 0 !important;
    border-radius: 12px;
    color: var(--fg-high-contrast);
    padding: 0px;
    &:hover {
      box-shadow: -8px 8px 0 0 black !important;
      transform: translate(8px, -8px);
    }
    .group-avatar-flair {
      grid-area: group-image;
      .avatar-flair {
        background-size: 64px;
        height: 64px;
        margin: 0 0;
        width: 64px;
      }
    }
    .group-box-inner {
      display: inline-grid;
      gap: 1em;
      grid-auto-flow: row;
      grid-template-rows: 1fr 0fr;
      .group-description {
        color: var(--fg-low-contrast);
      }
      .group-info-wrapper {
        align-items: center;
        gap: 1em;
        .group-info {
          margin-bottom: unset;
          padding-right: 1em;
          width: unset;
          span {
            color: var(--fg-high-contrast);
            font-size: 1.125em;
            font-weight: 600;
            letter-spacing: 0.03em;
            flex-shrink: 1;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
          .group-user-count {
            color: var(--fg-medium-contrast);
            flex-shrink: 0;
            font-size: 0.875em;
            padding-top: 2px;
          }
        }
      }
    }
    .group-membership {
      color: var(--fg-low-contrast);
      padding-top: 0;
      .is-group-member {
        color: var(--green);
      }
    }
  }
}

.category-boxes {
  display: grid;
  grid-auto-flow: row;
  grid-gap: 32px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  margin: 0 0 32px 0;
  .category-box {
    background-color: var(--surface-low-contrast);
    border-left-width: 0;
    border-radius: 12px;
    margin: 0 0;
    max-height: 160px;
    overflow: hidden;
    transition: all ease-out 0.2s;
    width: initial;
    &:hover {
      box-shadow: -8px 8px 0 0 black;
      transform: translate(8px, -8px);
    }
    &.muted {
      .category-details {
        grid-column: 2;
      }
    }
    .category-box-inner {
      border: 0;
      display: grid;
      grid-auto-flow: column;
      grid-template-columns: 0fr 1fr 0fr;
      column-gap: 48px;
      padding: 0;
      .category-logo {
        align-self: center;
        background-color: var(--fg-low-contrast);
        display: inline-block;
        width: 132px;
        height: 132px;
        img {
          height: 100%;
          width: 100%;
        }
      }
      .category-details {
        align-self: center;
      }
    }
  }
  h3 {
    align-items: baseline;
    color: var(--fg-high-contrast);
    display: inline-flex;
    font-family: $font-stack;
    font-size: 1.125em;
    font-weight: 600;
    letter-spacing: 0.03em;
    line-height: 140%;
    margin-top: 0;
    text-align: left;
    .d-icon {
      color: var(--fg-high-contrast);
      font-size: 16px;
      height: 16px !important;
      margin-right: 4px !important;
      width: 16px !important;
    }
  }
  .category-box-heading {
    margin-bottom: 8px;
  }
  .description {
    color: var(--fg-low-contrast);
    font-family: $font-stack;
    font-size: 1em;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0.03em;
    margin-bottom: 0;
    max-height: 3em;
    text-align: left;
  }
  .subcategories {
    display: none;
    .subcategory {
      .subcategory-image-placeholder {
        margin-right: 0;
      }
    }
  }
}

// Subcategory theming
#header-list-area {
  .category-boxes {
    /*
    &:before {
      background-color: var(--fg-high-contrast);
      color: var(--fg-high-contrast);
      content: 'Subcategories'; // This is the actual text that renders on the page
      display: block;
      font-size: 1em;
      font-weight: 500;
      grid-column: -1 / 1;
      line-height: 14px;
      max-height: 14px !important;
      position: absolute;
      text-indent: 25px; // Distance between leftmost part of the square and test start, e.g. this puts 11px which optically correct with "Topic"
      top: 0;
      width: 14px;
    }
    */
    grid-template-columns: 1fr 1fr 1fr;
    .category-box-inner {
      column-gap: 24px;
      .category-logo {
        height: 80px;
        width: 80px;
      }
    }
    .category-box-heading {
      margin-bottom: 4px;
    }
    h3 {
      font-size: 1em;
    }
    .description {
      display: none;
    }
  }
}

@media (max-width: 1250px) {
  body.category {
    .category-boxes {
      grid-template-columns: 1fr 1fr;
    }
  }
}

@media (max-width: 960px) {
  .category-boxes {
    grid-template-columns: 1fr;
  }
  #header-list-area {
    .category-boxes {
      grid-template-columns: 1fr 1fr;
    }
  }
}

@media (max-width: 800px) {
  body.category {
    .category-boxes {
      grid-template-columns: 1fr;
    }
  }
  #header-list-area {
    .category-boxes {
      grid-template-columns: 1fr 1fr;
    }
  }
}
