/* 
Figma Community Forum
Color Definitions
*/

/*
Color on the Figma Forum is divided between two systems that tend to
conflict in very odd ways. This is because Discourse wants to use its
own system and frequently hardcodes selectors to use them, and we've
taken a very different approach to theming Discourse than letting it 
be on defaults all the time.

The semantics and variables below are divided into two sections:

• Color
• Variations of white/gray/black

Adding new colors is very easy, but the existing ones outside of UI2
colors are accessible to AA status. Please try to keep contrast ratios
high for accessibility when making changes and choosing colors.
*/

:root {
  /*
  For the most part, names in the color section reflect their UI2 hex 
  values. Some hex values cannot be reflected accurately as a result of 
  them having transparency and guidelines of use around specific
  backgrounds.
  */
  --blue-tint: #699bf7;
  --coral: #ff8577;
  --golden-yellow: #ffc700;
  --green: #0fa958;
  --community-blue: #236df6;
  --violet: #a259ff;
  --violet-tint: #c7b9ff;
  --violet-alert: rgba(39, 109, 246, 0.1);
  --red: #f24e1e;

  /*
  These colors should change if dark mode is on. Their variable names 
  describe modality: 

  • bg: background;
  • fg: foreground;
  • bold: foreground, high contrast;
  • modal: foreground, above bg;
  • surface: background, beneath bg;

  These are broken up in this way to account for $dark-mode and to
  allow for broad changes to the color system without effecting the
  semantics of color choice throughout the theme (e.g. elements that
  should always appear boldly on the background are separate from the
  font color we use).
  */
  --bg: #ffffff;
  --fg-high-contrast: #000000;
  --fg-medium-contrast: #333333;
  --fg-low-contrast: #5d5d5d; /* previously was 939393 */
  --bold-bg: #222222;
  --bold-fg: #ffffff;
  --modal-bg: #ffffff;
  --modal-fg: #333333;
  --surface-high-contrast: #d6d6d6;
  --surface-low-contrast: #f5f5f5;
}

/* Naive dark mode implementation, preserved for future reference
  @media (prefers-color-scheme: dark) {
    :root {
      --bg: #1d1d1d;
      --fg-high-contrast: #ffffff;
      --fg-medium-contrast: #bbbbbb;
      --fg-low-contrast: #9b9b9b;
      --bold-bg: #5551ff;
      --bold-fg: #ffffff;
      --modal-bg: #101010;
      --modal-fg: #ffffff;
      --surface-high-contrast: #333333;
      --surface-low-contrast: #262626;
    }
  }
}
*/

$primary: var(--fg-high-contrast);
$primary-high: var(--fg-medium-contrast);
$primary-medium: var(--fg-low-contrast);
$primary-low-mid: var(--surface-high-contrast);
$primary-low: var(--surface-low-contrast);
$secondary: var(--bg);
$tertiary: var(--community-blue);
$tertiary-low: var(--community-blue);

/* Hardcode specific icons to specific colors */
.d-icon {
  &.d-icon-d-watching {
    color: var(--red) !important;
  }
  &.d-icon-d-tracking {
    color: var(--blue-tint) !important;
  }
  &.d-icon-d-regular {
    color: var(--green) !important;
  }
}
