/* 
Figma Community Forum
Empty state
*/

.empty-state {
  color: var(--fg-high-contrast);
  margin: 0em 1.5em;
  .empty-state-title {
    font-size: 1.125em;
    font-weight: 600;
  }
  .empty-state-body {
    color: var(--fg-medium-contrast);
    font-size: 0.9375em;
    line-height: 1.65em;
  }
}
